PORT=3001

# PostgreSQL Connection
POSTGRES_DB_HOST=localhost
POSTGRES_DB_PORT=5432
POSTGRES_DB_USER=postgres
POSTGRES_DB_PASSWORD=12345
POSTGRES_DB_NAME=postgres

# MySQL Connection
MYSQL_DB_HOST=localhost
MYSQL_DB_PORT=3306
MYSQL_DB_USER=root
MYSQL_DB_PASSWORD=12345
MYSQL_DB_NAME=mysql